@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    /* background-color: rgb(224, 160, 203); */
    margin:0 ;
}

main{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
} 

article{
    background-color: rgb(64, 96, 184);
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border-style: solid;
    border-color: rgb(109, 146, 180);
}

img {
    width: 100%;
    max-width: 150px;
    min-width: 65px;
    max-height: 150px;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.login-input{
    width: 75%;
    max-width: 600px;
}

.login-input p{
    display: flex;
    flex-direction:column;
    width: 100%;
}

.login-input p input{
    max-width: 600px;
    display: flex;
    flex-direction:column;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    border-style: solid;
    cursor: grab;
}

.login-input p input::placeholder{
    color: violet;
}

button{

    width: 100%;
    height: 23px;
    background:  #202157;
    color:  #ffffff;
    border-radius: 25px;
    border: 1px solid #202157;
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    letter-spacing: 0.6px;
    font-weight: 600;
    cursor: pointer;
}